<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/organiser-template.css">
</head>
<body>
{% include 'nav.html' %}
<div class="container">
    <h2>Privacy Policy</h2>
    <p style="font-size:12px;"><i>Effective Date: 5th August, 2024</i></p>
    <div class="row">

        <h5>Introduction</h5>
        <p>Certiphicate ("we", "our", "us") is committed to protecting your privacy...</p>
        <h5>Data Collection</h5>
        <p>We collect the following types of data: Name, Email Address, Google Account Picture, All files in Drive
            (Certiphied)</p>
        <h5>Data Usage</h5>
        <p>We use the collected data from specific excel in the drive folder (Certiphied) to create document from
            template,
            save it in PDF, make zip</p>
        <h5>Data Sharing and Disclosure</h5>
        <p>We may share data with third parties Service Providers on specific folder(Certiphied)</p>
        <h5>Data Security</h5>
        <p>We implement security measures to protect your data...</p>
        <h5>Cookies and Tracking Technologies</h5>
        <p>We use cookies to...</p>
        <h5>User Rights</h5>
        <p>You have the right to Access, Erasure, Restriction of Processing, Withdraw Consent any point of time</p>
        <h5>Children’s Privacy</h5>
        <p>The App is not intended for children under 5+ years</p>
        <h5>Policy Changes</h5>
        <p>We may update this Privacy Policy...</p>
        <h5>Contact Information</h5>
        <p>For questions, contact us at tuhinmaj1998@gmail.com</p>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>